@import 'variables';
@import 'render';
@import 'fonts';
@import 'syntax';
@import 'repl';

body {
  margin: 0;
  padding: 0;
}

#corner {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 250;
}

#diagram{
  float: right;
  height:100%;
  position:absolute;
  top:0;
  right: 0.75em;
  z-index:200;
  font-size: 0.92em;
  font-family:$font-stack;
  pointer-events: none;
  @include text;
}

#overlays {
  position: relative;
  width: 100%;
}

#turtle{
  position: absolute;
  right: 0;
  top: 0;
  width: 31.25em;
  height: 31.25em;
  z-index:100;
  background:#fff;
  display:none;
}

@media all and (max-width: 768px) {
  #turtle {
    transform-origin:100% 0% 0;
    transform:scale(0.75,0.75);
    -webkit-transform-origin:100% 0% 0;
    -webkit-transform:scale(0.75,0.75);
  }
}
@media all and (max-width: 500px) {
  #turtle {
    transform-origin:100% 0% 0;
    transform:scale(0.5,0.5);
    -webkit-transform-origin:100% 0% 0;
    -webkit-transform:scale(0.5,0.5);
  }
}
